{% extends 'base.jinja2' %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <h5 class="card-title">Devices Dashboard</h5>

                <table class="table">
                    <thead>
                        <th scope="col">MAC Address</th>
                        <th scope="col">Hostname</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Agent Status</th>
                        <th scope="col">Options</th>
                    </thead>

                    <tbody>
                        {% for device in devices %}
                        <tr>
                            
                            <td>{{device["mac"]}}</td>
                            <td>NYI</td>
                            <td>{{device["ip"]}}</td>
                            <td>NYI</td>
                            <td>NYI</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}