{% extends 'base.jinja2' %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <h5 class="card-title">Devices Dashboard</h5>

                <table class="table table-striped">
                    <thead>
                        <th class="th-sm" scope="col">MAC Address</th>
                        <th class="th-sm" scope="col">Hostname</th>
                        <th class="th-sm" scope="col">IP Address</th>
                        <th class="th-sm" scope="col">Agent Status</th>
                        <th class="th-sm" scope="col">Options</th>
                    </thead>

                    <tbody>
                        {% for device in devices %}
                        <tr>
                            <td data-toggle="tooltip" data-placement="top" title='{{device["tooltip"]}}'>{{device["mac"]}}</td>
                            <td>{{device["hostname"]}}</td>
                            <td>{{device["ip"]}}</td>
                            <td>{{device["has_agent"]}}</td>
                            <td>
                                {% if device["has_agent"] == "Installed" %}
                                <a href="{{url_for('authenticated.view_packages', mac=device['mac'])}}" role="button" class="btn btn-primary">Packages</a>
                                {% else %}
                                No Options Available
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}