{% extends 'base.jinja2' %}

{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card border-info p-3 mt-3">
            <div class="card-body">
                <h5 class="card-title text-center">Welcome to the help page!</h5>
                <p class="card-text text-center">This page will contain all the information needed to use LANMan as smoothly as possible.</p>

                <div class="accordion mb-3" id="helpPageAccordion">
                    <div class="card">
                        <div class="card-header" id="dashboardExplainedHeader">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#dashboardExplainedContent" aria-expanded="false" aria-controls="dashboardExplainedContent">
                                    How do I understand the Dashboard?
                                </button>
                            </h2>
                        </div>

                        <div id="dashboardExplainedContent" class="collapse" aria-labelledby="dashboardExplainedHeader" data-parent="#helpPageAccordion">
                            <div class="card-body">
                                At first, the Dashboard may seem a little daunting with the random string of numbers and letters and Yes/No text written all over the place. 
                                Fear not, that is why you are here and this is what this help section is for! Below will provide a breakdown of the sections of the Dashboard page.
                                <div class="text-center">
                                    <img src="{{url_for('static', filename='dashboard_explained.png')}}"/>
                                </div>
                                <p>
                                1. This column represents the device MAC (Media Access Control) address. This is essentially a unique identifier for that device on your network and, in theory, should never change.
                                </p>                                
                                <p>
                                2. The Hostname column represents the friendly network name, if applicable, for that device on the network. Every device on the network must have a hostname although there are some cases
                                where LANMan cannot resolve this name and instead prints 'Unknown Hostname'. This doesn't necessarily indicate any issues with a device.
                                </p>
                                <p>
                                3. This column represents IP addresses, something which you may have heard of before. An IP (Internet Protocol) address indicates the address of the device on your network and is used for sending data.
                                A similar analogy would be to think of it as being like the physical address of a place/building; when mail and packages are addressed to it, they are delivered there. This works the same within your
                                home network and devices send 'mail/packages' to one another using this address.
                                </p>
                                <p>
                                4. The Agent Status column indicates whether or not the agent is installed on that device (or has been installed previously) and if it is possible to see updates status. If this field
                                is 'No' and you would like to be able to view available updates, look into the 'How do I Install a Desktop Agent?' section on this page. 
                                </p>
                                <p>
                                5. This final column shows the options available for that device. At the moment, there is only one option and that is to list 'Packages' for that device, if applicable. If there is no Agent installed,
                                there will be 'No Options Available' displayed for that device.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="agentInstallHeader">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#agentInstallContent" aria-expanded="false" aria-controls="agentInstallContent">
                                    How do I install a Desktop Agent?
                                </button>
                            </h2>
                        </div>

                        <div id="agentInstallContent" class="collapse" aria-labelledby="agentInstallHeader" data-parent="#helpPageAccordion">
                            <div class="card-body">
                                The desktop agent is a secondary component that compliments the functionality of LANMan by allowing you to update your system. 
                                <p>
                                    To get started with the desktop agent, first it needs to be installed on the system you would like to be able to update. To download the agent, click on the following button:
                                    <a href="{{url_for('authenticated.download_agent')}}" class="btn btn-primary">Download</a>
                                </p>

                                <h2 class="text-center">For Windows</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="packagesNotUpdatingHeader">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#packagesNotUpdatingContent" aria-expanded="false" aria-controls="packagesNotUpdatingContent">
                                    Why does my device not update sometimes?
                                </button>
                            </h2>
                        </div>

                        <div id="packagesNotUpdatingContent" class="collapse" aria-labelledby="packagesNotUpdatingHeader" data-parent="#helpPageAccordion">
                            <div class="card-body">
                                If you have a desktop agent installed on a device and on the LANMan web interface you click "Update Device", you would expect
                                this to install all updates that are currently available for it. For some cases, this will not happen straight away or may require
                                manual intervention on the device that is refusing to update.
                                <div class="text-center">
                                    <img src="{{url_for('static', filename='packages_not_updating_sample.png')}}"/>
                                </div>
                                <p>
                                    The above image displays packages that are associated to a Linux device. The packages in question that will not update related
                                    to the core system of Linux, and in some cases, will requrie the user to manually update these or have the machine restart prior
                                    these being able to update.
                                </p>
                                <p>
                                    While this issue has not been observed directly on Windows machines, this does not exempt them from this possibility. By default, 
                                    the installation of Windows Updates would require a device restart. If a device restart does not clear the Windows Updates from the
                                    interface, there could be an issue on the device that was encountered when trying to install it and you should attempt to manually
                                    install this.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}