{% extends 'base.jinja2' %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card border-info p-3 mt-3">
            <div class="card-body">
                <h5 class="card-title text-center">Welcome to the help page!</h5>
                <p class="card-text">This page will contain all the information needed to use LANMan as smoothly as possible.</p>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}