{% extends 'base.jinja2' %}

{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <h5 class="card-title">Packages for {{mac}} | {{packages|count}} applications<h5>
                <p class="card-text">
                    <button type="button" onclick="postUpdateCommand()" class="btn btn-success">Update Machine</button>
                </p>


                <table id="package_table" class="table table-striped">
                    <thead>
                        <th scope="col">Package Name</th>
                        <th scope="col">Version</th>
                        <th scope="col">Latest Version</th>
                    </thead>

                    <tbody>
                        {% for package in packages %}
                        <tr>
                            <td>{{package.package_name}}</td>
                            <td>{{package.installed_version}}</td>
                            <td>{{package.latest_version}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <script>
        function postUpdateCommand()
        {
            fetch("/agent/{{mac}}/commands", {
                method: "POST",
                body: JSON.stringify({"command": "update"}),
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(res => { console.log("Success"); });
        }
    </script>
</div>
{% endblock %}